:root {
    --background-header: royalblue;
    --background-main: silver;
    --text-color:black;

}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 100px;
    align-items: center;
    background-color: var(--background-header);
}
h1 {
    display: flex;
    font-size: 35px;
    margin: auto;
}
nav li {
    display: flex;
    flex-wrap: wrap-reverse;
    float: right;
    position: relative;
    left: 800px;
    max-width:max-content;
}
h2 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px;
}
section {
    display: block;
}
section h2 {
    border-width: 1px;
    text-align: center;
    border-radius: 5px;
    width: 100%;

}
p {
    display: block;
    margin: 1px;
}