:root {
    --background-header: royalblue;
    --background-main: silver;
    --text-color:black;

}
* {
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

header {
    font-family:Georgia, Times, 'Times New Roman', serif;
    padding: 40px;
    background-color: var(--background-header);
    color: var(--text-color);
    text-align: center;
    display:flex; 
    justify-content: space-evenly  ;
}
nav {
    display: flex;
    justify-content: flex-end;

}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

article h2 {
    display: flex;
    margin: 20px 20px 20px 20px;
    text-align: center;
    background-color: silver;
    width: 25%;
    font-size: 50px;
}
article p {
    display: flex;
    width: 25%;
    background-color: silver;
    font-size: 25px;
}
article li {
    display: flex;
    justify-content:center;
    width: 20%;
    margin: 10px;
    background-color: silver;
}